.star-rating {
	font-size: 18px;
	position: relative;
	line-clamp: 1;
	white-space: nowrap;
}

.star-rating:before {
	content: '\2605\2605\2605\2605\2605';
	color: #e5e5e5;
	filter: drop-shadow(0 0.6rem 0.3rem rgba(0, 0, 0, 0.05));
}

.star-rating__fill {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	overflow: hidden;
	line-break: loose;
}

.star-rating__fill:before {
	content: '\2605\2605\2605\2605\2605';
	color: var(--cyan-500);
}

.animated-link {
	&:link,
	&:visited {
		text-decoration: none;
		display: inline-block;
		background-color: var(--surface-card);
	}

	&:hover,
	&:active {
		box-shadow: 0 1rem 2rem rgba(var(--primary-color-text), 0.4);
		transform: rotate(-3deg) scale(1.3);
		transition: all 0.2s;
	}
}
