<div id="home" class="surface-0 overflow-hidden">
	<div id="features" class="px-2 m-1">
		<div class="grid justify-content-center">
			<div class="col-12 text-center m-2">
				<h2 class="text-900 text-primary font-normal mb-1">Apresentação</h2>
			</div>

			<div
				class="col-12"
				style="
					height: auto;
					padding: 2px;
					margin: 2px;
					border-radius: 10px;
					background: var(--primary-color);
				"
			>
				<div class="p-3 surface-card h-full" style="border-radius: 8px">
					<div class="flex justify-content-between flex-wrap">
					<!-- 	<img
							class="flex align-items-center justify-content-center border-circle"
							src="https://lh3.googleusercontent.com/a-/AOh14Ghk0kzPqxBvQlkOUKpXj4NXGuWdZSyPz8YDSgSH=s96-c"
						/> -->
						<img
							class="border-circle w-7rem h-7rem"
							src="assets/images/photo.jpeg"
							alt="Logo"
						/>
						<button
							pButton

							label="Currículo"
							icon="pi pi-file-pdf"
							class="m-2 w-8rem h-2rem flex align-items-center justify-content-center"
              (click)="openCurriculum()"
						></button>
					</div>
					<h5 class="text-blue-500 mr-1">
						Nome:
						<span class="text-900 lg:text-xl"> Lucas Sacramoni Peixoto</span>
					</h5>
					<h5 class="text-blue-500 mr-1">
						Idade:
						<span class="text-900 lg:text-xl"> 30 anos</span>
					</h5>
					<h5 class="text-blue-500 mr-1">
						E-mail:
						<span class="text-900 lg:text-xl"> lspeixotodev@gmail.com</span>
					</h5>

					<h5 class="text-blue-500 mr-1">
						Celular:
						<a
							class="p-link text-xl"
							href="https://api.whatsapp.com/send?phone=5519982621117&text=Ol%C3%A1%21+Lucas, tudo bem ?&lang=pt_pt"
							target="_blank"
						>
							<span class="text-900 lg:text-xl">(19) 98262-1117</span>
						</a>
					</h5>
					<h5 class="text-blue-500 mr-1">
						Cidade:
						<span class="text-900 lg:text-xl"> Jundiaí - SP</span>
					</h5>
					<h5 class="text-blue-500 mr-1">
						Ocupação:
						<span class="text-900 lg:text-xl"> Desenvolvedor de sistemas</span>
					</h5>
				</div>

				<!-- <div>
          <img src="https://lh3.googleusercontent.com/a-/AOh14Ghk0kzPqxBvQlkOUKpXj4NXGuWdZSyPz8YDSgSH=s96-c"/>
        </div> -->
			</div>
		</div>
	</div>
</div>
