<div id="home" class="surface-0 overflow-hidden">
  <div id="features" class="px-2 m-1">
    <div class="grid justify-content-center">
      <div class="col-12 text-center m-2">
        <h2 class="text-900 text-primary font-normal mb-1">Apresentação</h2>
      </div>

      <div
        class="col-12"
        style="
          height: auto;
          padding: 2px;
          margin: 2px;
          border-radius: 10px;
          background: var(--primary-color);
        ">
        <div class="p-3 surface-card h-full" style="border-radius: 8px">
          <div class="flex justify-content-between flex-wrap">
            <img
              class="flex align-items-center justify-content-center border-circle w-2"
              src="/assets/images/angular_logo.png" />
            <button
              pButton
              label="Currículo"
              icon="pi pi-file-pdf"
              class="m-2 w-8rem h-2rem flex align-items-center justify-content-center"></button>
          </div>
          <h5 class="text-blue-500 mr-1">
            Nome:
            <span class="text-900 lg:text-xl"> Matheus Pereira</span>
          </h5>
          <h5 class="text-blue-500 mr-1">
            Idade:
            <span class="text-900 lg:text-xl"> 20 anos</span>
          </h5>
          <h5 class="text-blue-500 mr-1">
            E-mail:
            <span class="text-900 lg:text-xl">Matheusinhofcb12@gmail.com</span>
          </h5>

          <h5 class="text-blue-500 mr-1">
            Celular:
            <a class="p-link text-xl">
              <span class="text-900 lg:text-xl">(11) 961568913</span>
            </a>
          </h5>
          <h5 class="text-blue-500 mr-1">
            Cidade:
            <span class="text-900 lg:text-xl"> São Paulo - SP</span>
          </h5>
          <h5 class="text-blue-500 mr-1">
            Ocupação:
            <span class="text-900 lg:text-xl"> Desenvolvedor de Software</span>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
